.btn-cyan {
  border-radius: 5px;
  background-color: #23c3b2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  //height: 55px;
  //padding: 0 50px;
  height: 13.32622vw;
  padding: 0 13.32622vw;
  position: relative;

  &:hover {
    img {
      transform: translateX(-25px) translateY(-50%);
      visibility: visible;
      opacity: 1;
      transition: all $t;
    }

    span {
      transform: translateX(-15px);
      transition: transform $t;
    }
  }

  span {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.3px;
    transition: transform $t;
  }

  img {
    position: absolute;
    width: 14px;
    right: 10px;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all $t;
  }
}

.btn-underline {
  display: flex;
  position: relative;

  &:before {
    @include pseudo;
    height: 2px;
    width: 0%;
    background: #e5e5e5;
    left: 0;
    bottom: -4px;
    transition: width $t;
  }

  &:hover {
    &:before {
      width: 100%;
      transition: width $t;
    }
  }
}