body {
  font-family: $sf;
}

.error {
  background-color: $black;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  //transition: opacity $t;
  color: white;
  font-size: 18px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    visibility: visible;
    opacity: 1;
    //transition: opacity $t;
  }
}

.index {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  padding: 0 10.8vw 0 13.3vw;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
  }

  &:before {
    @include pseudo;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($black, .5);
    z-index: 2;
  }

  &-headline {
    color: white;
    font-size: 8vw;
    font-weight: 700;
    line-height: calc(36 / 30);
    margin-bottom: 10px;
  }

  &-excerpt {
    color: rgba(white, .8);
    font-size: 4.25vw;
    font-weight: 400;
    line-height: calc(20 / 16);
  }

  @keyframes bounce {
    0% {
      transform: translateY(-20px) translateX(-50%);
      opacity: 0;
    }
    90% {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 25px;
    animation: bounce 2.5s infinite;
  }
}

.dark {
  background-color: $black;
  position: relative;


  background-repeat: no-repeat;
  background-position: bottom center;
  //background-size: calc(100% - 26.6vw);
  background-size: auto 63%;

  &:before {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 9.8vh 0 0 13.3vw;
  }

  &.without-padding {
    background-size: calc(100% - 19vw);
    background-position: bottom center;

    &:before {
      height: 35%;
    }
  }

  &-headline {
    color: white;
    font-size: 6.3vw;
    font-weight: 700;
    line-height: calc(28 / 24);
    padding-right: 10vw;
  }

  &-excerpt {
    color: rgba(white, .8);
    font-size: 4vw;
    font-weight: 400;
    line-height: calc(20 / 16);
    padding-right: 22.5vw;
    //padding-right: 6vw;
    margin-top: 15px;
  }

  &-img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8.3vh;

    img {
      width: 100%;
    }
  }
}

.subscription {
  position: relative;
  background-color: $black;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10.8vw 0 13.3vw;

  & > div {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

  }

  &:before {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 3;
  }

  &:after {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);
    z-index: 2;
  }

  &.with-border {
    &:after {
      border: 8px solid #23c3b2;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
    }

    &:before {
      width: calc(100% - 16px);
      bottom: 8px;
      left: 8px;
    }
  }

  &-top {
    padding-top: 6vh;
  }

  &-bottom {
    margin-bottom: 10.49vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-preheadline {
    font-size: 4.25vw;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
    color: white;
    margin-bottom: 10px;
  }

  &-headline {
    color: white;
    font-size: 6.4vw;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
  }

  &-title {
    font-size: 9.6vw;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
  }

  &-excerpt {
    font-size: 4.25vw;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: calc(22.4 / 16);
    max-height: 15.98837vh;
    color: white;
  }

  &-price {
    color: white;
    font-size: 6.4vw;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: calc(30 / 24);
    text-transform: lowercase;
    margin-bottom: 15px;
  }

  &-button {

  }

  &-describe {
    color: rgba(255, 255, 255, 0.6);
    font-size: 3.2vw;
    font-weight: 400;
    letter-spacing: 0.83px;
    margin-top: 10px;
  }

  &-more {
    color: #e5e5e5;
    font-size: 2.93vw;
    font-weight: 600;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.services {
  background-color: $black;
  position: relative;
  padding: 0 10.8vw 0 13.3vw;

  & > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  &-header {
    color: #ffffff;
    font-size: 6.4vw;
    font-weight: 700;
    margin-bottom: 4.5vh;
  }

  &-block {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2vh;
  }

  &-item {
    width: 50%;
    margin-bottom: 6vh;
  }

  &-text {
    color: #ffffff;
    font-size: 5.33vw;
    font-weight: 700;

  }

  &-excerpt {
    font-size: 4vw;
    font-weight: 400;
    color: #ffffff;
  }

  &-button {
    span {
      font-size: 13px;
    }
  }
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding: 15px;
  display: flex;

  &-menu {
    position: relative;

    &:before {
      @include pseudo;
      width: 300%;
      height: 200%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.menu {
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $black;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: all $t;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all $t;
  }

  &-list {
    padding: 0 10.8vw 0 13.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  &-item {
    color: white;
    margin-bottom: 4vh;
    font-size: 8vw;
    font-weight: 600;

    &:before {
      bottom: -3px;
    }
  }
}